body{
    background-color: #abb6c8;
}


.img-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .botonContinuar{
    border-radius:10px;
    margin-left: 10px;
    width: 115px;
    height: 50px;
    text-transform: uppercase;
    background-color: #f7d5a8;
    font-size: medium;
  }

  .botonContinuar:hover{
    background-color: #fcd19d;
  }

  .btn-estado{
    background-color: #abb6c8;
  }

.noIngresado{
  color:#d65130;
  font-weight: bold;
  margin-left: 5px;
}

.bg-claro{
  background-color: #f9ddb8;
 
}

.imagen-izquierda{
  float: left;
  margin-right: 20px;
  
}

.formulario{
  overflow:auto;
}