body{
    background-color: #abb6c8;
}


.img-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .botonContinuar{
    border-radius: 5px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
    background-color: #f9ddb8;
  }